<div class="container-fluid footer-section">
    <div class="container pt-4 pb-1">

        <div class="row">
            <!-- Left Section -->
            <div class="col-12 col-md-4">
                <h6 class="pt-3 pb-3">
                    EXPERT COMPUTER DISPOSALS LTD
                </h6>
                <span>Broughton Road
                </span>
                <br />
                <span>Adlington </span>
                <br />
                <span>Macclesfield
                </span>
                <br />
                <span>Cheshire
                </span>
                <br />
                <span>SK10 4ND
                </span>
                <br />
                <span>United Kingdom
                </span>
                <br />
            </div>

            <!-- Center Section -->
            <div class="col-12 col-md-4">
                <h6 class="pt-3 pb-3">
                    INFORMATION
                </h6>
                <div class="pb-1">
                    <fa-icon class="mr-2" [icon]="faPhone"></fa-icon><span>01625 827 677</span>
                </div>
                <div class="pb-1">
                    <fa-icon class="mr-2" [icon]="faEnvelope"></fa-icon>
                    <a href="mailto:sales@expertcomputerdisposals.co.uk"
                        routerLinkActive="router-link-active">sales@expertcomputerdisposals.co.uk</a>
                </div>
                <div class="pb-1">
                    <fa-icon class="mr-2" [icon]="faBuilding"></fa-icon><span>Company No: 08085468</span>
                </div>
                <div class="pb-1">
                    <fa-icon class="mr-2" [icon]="faRecycle"></fa-icon><span>Waste Carriers No: CBDU42842</span>
                </div>
                <div class="pb-1">
                    <fa-icon class="mr-2" [icon]="faLinkedin"></fa-icon><span>
                        <a href="https://www.linkedin.com/company/expert-computer-disposals-ltd" target="_blank">Connect
                            With Us</a>
                    </span>
                </div>
            </div>

            <!-- Right Section -->
            <div class="col-12 col-md-4">
                <h6 class="pt-3 pb-3">
                    LINKS
                </h6>
                <a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
                <br />
                <a [routerLink]="['/computer-recycling']" routerLinkActive="router-link-active">Computer Recycling</a>
                <br />
                <a [routerLink]="['/onsite-crushing']" routerLinkActive="router-link-active">Onsite Hard Drive
                    Crushing</a>
                <br />
                <a [routerLink]="['/offsite-wiping']" routerLinkActive="router-link-active">Offsite Hard Drive Data
                    Wiping</a>
                <br />
                <a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact Us</a>

                <br />
                <br />
                <span>Privacy Policy
                </span>
                <br />
                <span>Cookie Policy
                </span>
                <br />
            </div>
        </div>

        <!-- Copyright -->
        <div class="row">
            <div class="col-12">
                <h6 class="pt-3 text-center">
                    © 2018 Copyright: Expert Computer Disposals Ltd
                </h6>
            </div>
        </div>

    </div>
</div>