$ecd-green: rgb(1, 133, 62);

.spinner-padding {
  z-index: 1000;
  padding-top: 63px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.centered {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}